*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f7e7;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.d-m-block {
  display: none;
}

.text {
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  letter-spacing: 30px;
  animation: fadeIn 1.5s ease-in;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 80px 0;
}

.content-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 430px) {
  .d-m-none {
    display: none;
  }

  .d-m-block {
    display: block;
  }

  .m-banner {
    max-width: 100vw;
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  .text {
    font-size: 80px;
    letter-spacing: 5px;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  .content-box {
    flex-direction: column;
    padding: 20px 0;
  }
}

@media screen and (max-width: 320px) {
  .m-banner {
    height: 250px;
  }

  .text {
    font-size: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -55%);
  }

  100% {
    opacity: 100;
    transform: translate(-50%, -50%);
  }
}
